<%= image_tag('iphone-rss-small.png') %>

<% form_for(@site, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %> <span class="desc">~ this defines the url: <span id="name"></span></span><br />
    <%= f.text_field :name, :onkeyup => "showurl(this)" %>
  </p>
  <p>
    <%= f.label :rss %> <span class="desc">~ the link of the rss feed</span><br />
    <%= f.text_field :rss %>
  </p>
  <p>
    <%= f.label :icon %> <span class="desc">~ will be resized to iPhone icon size (57 x 57)</span><br />
    <%= f.file_field :icon %>
  </p>
  <p>
    <%= recaptcha_tags %>
  </p>
  <p class="alert">
    Please note that you can't edit the url after you've created it.
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<script type="text/javascript">
function showurl(el) {
	document.getElementById('name').innerHTML = 'http://iphonify.net/' + el.value;
}
</script>

<div id="bottom">
  <%= link_to '&laquo; back home', sites_path %>
</div>