<% form_for(@site, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
<div class="txt-l">Your url: <span class="tagline">http://iphonify.net/<span id="name">...</span></span>
</div><br />

  <div class="field">
    <span class="desc">Choose your iphonify name:</span><br />
    <%= image_tag 'icon-url.png', :class => 'icon' %>
    <div class="round"><%= f.text_field :name, :onkeyup => "showurl(this)", :class => 'inround' %></div>
  </div>
  <div class="field">

    <span class="desc">Your website url:</span><br />

    <%= image_tag 'icon-rss.png', :class => 'icon' %>
    <div class="round"><%= f.text_field :rss, :class => 'inround' %></div>
  </div>

  <div class="field">

    <span class="desc">Your homescreen icon, will be resized to 57 x 57 pixels.</span><br /-->

    <label class="cabinet"> <%= f.file_field :icon, :class => 'file' %></label>
  </div>

  <div class="field">

    <span class="desc">You'll get 1 email per year if you fill in your email address:</span><br />

    <%= image_tag 'icon-mail.png', :class => 'icon' %>
    <div class="round"><%= f.text_field :email, :class => 'inround' %></div>
  </div>


  <div>
    <%= recaptcha_tags %>
  </div>

  <p class="alert">
    You can't edit the url after you've created it!
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<script type="text/javascript">
function showurl(el) {
	document.getElementById('name').innerHTML = el.value;
}
</script>