<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="index,follow" name="robots" />
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
<link href="<%= @site.apple_touch_icon if @site %>" rel="apple-touch-icon" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<link href="/stylesheets/iphone.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/functions.js" type="text/javascript"></script>
<title><%= @rss.channel.title %></title>
</head>

<body>

<div id="topbar">
  <div id="title"><%= @rss.channel.title %></div>
  <%= yield :top_buttons %>
</div>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
